<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>WMDB</title>
  <!-- load local stylesheet (css) -->
  <link rel="stylesheet" href="/styles.css" />
  <!-- loading jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <form class="search" method="GET" action="/query">
    <p><label>search: <input type="text" required name="query"></label>
    <label>kind
            <select required name="kind">
                <option value="">choose one</option>
                <option value="person">person name</option>
                <option value="movie">movie title</option>
            </select>
    </label>
    <input type="submit" value="search"></p>
</form>

<h1 class="title"><%= movie.title %></h1>

<p><%= movie.title %>, released in <%= movie.release %>.</p>

<p>Cast: </p>
<ul>
  <% for (var i=0; i < movie.cast.length; i++) {%>
    <li>
    <a href="../nm/<%= movie.cast[i].nm %>"><%= movie.cast[i].name %></a>
    </li>
  <% } %>
</ul>

  <script src="/main.js"></script>
</body>
</html>